{
  "log": {
    "_recordingName": "github-issue-test",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "11d5d2774e07280189e5fa424b7b754e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-github-api-version",
              "value": "2022-11-28"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"state\":\"closed\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/ErikaO777/js-exercises/issues/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3274,
            "text": "{\"url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/1\",\"repository_url\":\"https://api.github.com/repos/ErikaO777/js-exercises\",\"labels_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/1/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/1/comments\",\"events_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/1/events\",\"html_url\":\"https://github.com/ErikaO777/js-exercises/issues/1\",\"id\":4027942216,\"node_id\":\"I_kwDOOqq3n87wFYVI\",\"number\":1,\"title\":\"テスト-タイトル\",\"user\":{\"login\":\"ErikaO777\",\"id\":173435908,\"node_id\":\"U_kgDOClZsBA\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/173435908?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ErikaO777\",\"html_url\":\"https://github.com/ErikaO777\",\"followers_url\":\"https://api.github.com/users/ErikaO777/followers\",\"following_url\":\"https://api.github.com/users/ErikaO777/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ErikaO777/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ErikaO777/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ErikaO777/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ErikaO777/orgs\",\"repos_url\":\"https://api.github.com/users/ErikaO777/repos\",\"events_url\":\"https://api.github.com/users/ErikaO777/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ErikaO777/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"closed\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-03-05T12:32:08Z\",\"updated_at\":\"2026-03-30T14:57:53Z\",\"closed_at\":\"2026-03-30T14:57:53Z\",\"assignee\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":\"テスト-ボディ\",\"closed_by\":{\"login\":\"ErikaO777\",\"id\":173435908,\"node_id\":\"U_kgDOClZsBA\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/173435908?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ErikaO777\",\"html_url\":\"https://github.com/ErikaO777\",\"followers_url\":\"https://api.github.com/users/ErikaO777/followers\",\"following_url\":\"https://api.github.com/users/ErikaO777/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ErikaO777/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ErikaO777/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ErikaO777/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ErikaO777/orgs\",\"repos_url\":\"https://api.github.com/users/ErikaO777/repos\",\"events_url\":\"https://api.github.com/users/ErikaO777/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ErikaO777/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"reactions\":{\"url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/1/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/1/timeline\",\"performed_via_github_app\":null,\"state_reason\":\"completed\",\"pinned_comment\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"96c8f6420a56715c7d097f1df3a31b3cbe00a7abad08936b1f9f280e4814f1bd\""
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2026-04-07 19:23:16 +0900"
            },
            {
              "name": "x-accepted-github-permissions",
              "value": "issues=write; pull_requests=write"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4991"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1774956022"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 883,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
