{
  "log": {
    "_recordingName": "github-issue-test",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "63d6a3e851b097a207f1c826ade7392c",
        "request": {
          "headers": [
            {
              "name": "x-github-api-version",
              "value": "2022-11-28"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "state",
              "value": "open"
            }
          ],
          "url": "https://api.github.com/repos/ErikaO777/js-exercises/issues?state=open"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 34445,
            "text": "[{\"url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/17\",\"repository_url\":\"https://api.github.com/repos/ErikaO777/js-exercises\",\"labels_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/17/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/17/comments\",\"events_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/17/events\",\"html_url\":\"https://github.com/ErikaO777/js-exercises/issues/17\",\"id\":4178041458,\"node_id\":\"I_kwDOOqq3n875B9py\",\"number\":17,\"title\":\"Test title\",\"user\":{\"login\":\"ErikaO777\",\"id\":173435908,\"node_id\":\"U_kgDOClZsBA\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/173435908?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ErikaO777\",\"html_url\":\"https://github.com/ErikaO777\",\"followers_url\":\"https://api.github.com/users/ErikaO777/followers\",\"following_url\":\"https://api.github.com/users/ErikaO777/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ErikaO777/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ErikaO777/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ErikaO777/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ErikaO777/orgs\",\"repos_url\":\"https://api.github.com/users/ErikaO777/repos\",\"events_url\":\"https://api.github.com/users/ErikaO777/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ErikaO777/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2026-03-31T10:38:47Z\",\"updated_at\":\"2026-03-31T10:38:47Z\",\"closed_at\":null,\"assignee\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":\"Test body\",\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/17/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/17/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"pinned_comment\":null},{\"url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/16\",\"repository_url\":\"https://api.github.com/repos/ErikaO777/js-exercises\",\"labels_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/16/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/16/comments\",\"events_url\":\"https://api.github.com/repos/ErikaO777/js-exercises/issues/16/events\",\"html_url\":\"https://github.com/ErikaO777/js-exercises/issues/16\",[...]
